<!DOCTYPE HTML>
<html>
    {{>header}}
  <body onload="defaultSlide();">
    <div class="main-container">
      <div class="left-sec">
        {{>nav}}
        {{>mobileNav}}
      </div>
      <div class="right-sec">
        {{>home}}
        {{>about}}
        {{>skills}}
        {{>projects}}
        {{>experience}}
        {{>contact}}
      </div>
    </div>
    <script src ="./js/nav.js"></script>
    <script src ="./js/app.js"></script>
    <script src ="./js/experience.js"></script>
    <script src ="./js/contact.js"></script>
  </body>
</html>