<section id ="about">
    <div class = "about-content">
        <div class = "g-heading">
            <div class = "g-watermark">
                ABOUT ME
            </div>
            <div class = "g-subheading">
                My Story
                <div class = "g-underline">
                </div>
            </div>
        </div>
        <div class ="content">
            <div class = "summary">
                <h2>I am Srujana Penugonda, A Software Developer</h2>
                <p>
                    I am an enthusiastic Full-stack developer, looking to acquire challenging position in Software Development 
                    and being upto-date with latest technologies.
                    <br>
                    <br>
                    I am interested in problem solving using data structure and algorithms using python,
                    java and C++. To test my skills, I have practiced Competitive Programming in 
                    <a href = "https://leetcode.com/Srujana_Penugonda/" target="_blank"></a>>LeetCode</a>. 
                    <br>
                    <br>
                    I have developed few full stack projects using Node Js and API's using Node.js, Python. Automated few boring stuff using Python.
                </p>
            </div>
            <div class="hobbies">
                <h2>When I'm not Coding, You can find me:</h2>
                <ul>  
                    <li><span>Reding Self help books, Technical and Health Blogs</span></li>  
                    <li><span><a href = 'https://1drv.ms/u/s!AqaRCY9q06EHc-7P5fNPbBoum7U?e=cJQOgU' target="_blank">Making Crafts</a></span></li>  
                    <li><span>Cooking</span></li>  
                    {{!-- <li><span>Playing with Kids</span></li>   --}}
                </ul>  
            </div>
        </div>
    </div>
</section>
