<section id="blog">
  <div class="g-heading">
    <div class="g-watermark">
      Writings
    </div>
    <div class="g-subheading">
      My Blogs
      <div class="g-underline">
      </div>
    </div>
  </div>
  <div class="blog-section">
    <div class="blog-card">
      <div class="section-area">
        <div class="section-head">
          <b>Library v/s Framework</b>
        </div>
        <div class="section-date">
          29 Aug 2021
        </div>
        <div class="section-subheading">
          Diference between Library and Framework
        </div>
        <div class="section-description">
          <ul>
            <li>This blog helps to understand the difference between a Library
              and Framework
              <br /><br /><a
                href="https://technical-blog-1.netlify.app/"
                target="_blank"
              >Read More</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="blog-card">
      <div class="section-area">
        <div class="section-head">
          <b>Git Basics</b>
        </div>
        <div class="section-date">
          30 Sep 2021
        </div>
        <div class="section-subheading">
          Installing and Setting up git
        </div>
        <div class="section-description">
          <ul>
            <li>This blogs helps to installing and setting up git in local
              machine
              <br /><br /><a
                href="https://tech-blog-2.netlify.app/"
                target="_blank"
              >Read More</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>