<section id="projects">
  <div class="projects">
    <div class="g-heading">
      <div class="g-watermark">
        Projects
      </div>
      <div class="g-subheading">
        My Projects
        <div class="g-underline">
        </div>
      </div>
    </div>
    <div class="project-details">
      <ul id="project-type" onclick="performAction(event.target.id);">
        <li><a id="cliApp">CLI App</a></li>
        <li><a id="Books and Emotions">Books and Emotions</a></li>
        <li><a id="BirthdayApp">Birthday App</a></li>
        <li><a id="api">API</a></li>
        <li><a id="cashAndStocks">Cash and Stocks</a></li>
        <li><a id="funWithTriangles">Triangles</a></li>
      </ul>
      <div class="project-section" id="card">
        <div class="section-card">
          <div class="section-area">
            <div class="section-head">
              <b>Buddy Meter</b>
            </div>
            <div class="section-date">
              Sep, 2021
            </div>
            <div class="section-description">
              BuddyMeter is a quiz to on myself to know how well my friends know
              me and it is developed using node.js
            </div>
            <div class="section-link1">
              <a
                href="https://replit.com/@PSRUJANA/BuddyMeter?embed=true#index.js"
                target="_blank"
              ><b>Visit Live</b></a>
            </div>
            <div class="section-link2">
              <a
                href="https://github.com/SRUJANA-PENUGONDA13/Buddy-Meter"
                target="_blank"
              ><b>View Source Code</b></a>
            </div>
          </div>
        </div>
        <div class="section-card">
          <div class="section-area">
            <div class="section-head">
              <b>Fun App</b>
            </div>
            <div class="section-date">
              Sep, 2021
            </div>
            <div class="section-description">
              "Fun-App is quiz to test your IQ and developed using node.js",
            </div>
            <div class="section-link1">
              <a
                href="https://replit.com/@PSRUJANA/Fun-App?embed=true#index.js"
                target="_blank"
              ><b>Visit Live</b></a>
            </div>
            <div class="section-link2">
              <a
                href="https://github.com/SRUJANA-PENUGONDA13/Fun-App"
                target="_blank"
              ><b>View Source Code</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>