<section id ="projects">
    <div class="projects">
        <div class = "g-heading">
            <div class = "g-watermark">
                Projects
            </div>
            <div class = "g-subheading">
                My Projects
                <div class = "g-underline">
                </div>
            </div>
        </div>
        <div class="project-details">
            <ul id = "project-type" onclick="performAction(event.target.id);">
                <li><a id ="python">Python</a></li>
                <li><a id ="nodejs">Node JS</a></li>
                <li><a id = "api">API</a></li>
                {{!-- <li><a id = "cli">CLI App</a></li> --}}
            </ul>
            <div class="project-info" id = "card">
                <div class="project-card">
                    <div class="project-area">
                        <div class="project-head">
                            <b>Mail Service</b>
                        </div>
                        <div class="project-date">
                            Dec,2020
                        </div>
                        <div class="project-description">
                           A simple mail service developed using flask and google API. To send mails to anyone from my mail id in particular format.<br>
                           Technology - Python - Flask
                        </div>
                        <div class="project-link1">
                            <a href= "https://srujana-mail-service.herokuapp.com/" target="_blank" ><b>Visit Live</b></a>
                        </div>
                        <div class="project-link2">
                            <a href= "https://github.com/SRUJANA-PENUGONDA13/Srujana-Mail-Service" target="_blank"><b>View Code On Github</b></a>
                        </div>
                    </div>
                </div>
                {{!-- <div class="project-card">
                    <div class="project-area">
                        <div class="project-head">
                            <b>IFT Automation</b>
                        </div>
                        <div class="project-date">
                            JAN,2021
                        </div>
                        <div class="project-description">
                            1. Processing of DDTSUTF files and generating DTMU outbound files report over mail <br>
                            2. Analysis of IFT layouts and generating IFT files <br>
                            Technology - Python
                        </div>   
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</section>