<section id ="skills">
    <div class="skills-content">
        <div class = "g-heading">
            <div class = "g-watermark">
                SKILLS
            </div>
            <div class = "g-subheading">
                What I Know?
                <div class = "g-underline">
                </div>
            </div>
        </div>
        <div class = "skill-content">
            <div class = "info-card">
                <div class = "logo">
                    <svg id = "code" aria-hidden="true" width="64" height="64" focusable="false" data-prefix="fas" data-icon="code" class="svg-inline--fa fa-code fa-w-20 fa-2x card-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path fill="rgb(68, 62, 62)" d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z">
                        </path>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>HTML CSS JS</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32" preserveAspectRatio="xMidYMid" fill="rgb(68, 62, 62)">
                        <path d="M14.656.427c.8-.453 1.82-.455 2.6 0L29.2 7.16c.747.42 1.247 1.253 1.24 2.114v13.5c.005.897-.544 1.748-1.332 2.16l-11.88 6.702a2.6 2.6 0 0 1-2.639-.073l-3.565-2.06c-.243-.145-.516-.26-.688-.495.152-.204.422-.23.642-.32.496-.158.95-.4 1.406-.656.115-.08.256-.05.366.022l3.04 1.758c.217.125.437-.04.623-.145l11.665-6.583c.144-.07.224-.222.212-.38V9.334c.016-.18-.087-.344-.25-.417L16.19 2.244a.41.41 0 0 0-.465-.001L3.892 8.93c-.16.073-.27.235-.25.415v13.37c-.014.158.07.307.215.375l3.162 1.785c.594.32 1.323.5 1.977.265a1.5 1.5 0 0 0 .971-1.409l.003-13.29c-.014-.197.172-.36.363-.34h1.52c.2-.005.357.207.33.405L12.18 23.88c.001 1.188-.487 2.48-1.586 3.063-1.354.7-3.028.553-4.366-.12l-3.4-1.88c-.8-.4-1.337-1.264-1.332-2.16v-13.5a2.46 2.46 0 0 1 1.282-2.141L14.656.427zM18.1 9.785c1.727-.1 3.576-.066 5.13.785 1.203.652 1.87 2.02 1.892 3.358-.034.18-.222.28-.394.267-.5-.001-1.002.007-1.504-.003-.213.008-.336-.188-.363-.376-.144-.64-.493-1.273-1.095-1.582-.924-.463-1.996-.44-3.004-.43-.736.04-1.527.103-2.15.535-.48.328-.624 1-.453 1.522.16.383.603.506.964.62 2.082.544 4.287.5 6.33 1.207.845.292 1.672.86 1.962 1.745.378 1.186.213 2.604-.63 3.556-.684.784-1.68 1.2-2.675 1.442-1.323.295-2.695.302-4.038.17-1.263-.144-2.577-.476-3.552-1.336-.834-.724-1.24-1.852-1.2-2.94.01-.184.193-.312.37-.297h1.5c.202-.014.35.16.36.35.093.6.322 1.25.854 1.6 1.026.662 2.313.616 3.487.635.973-.043 2.065-.056 2.86-.7.42-.367.543-.98.43-1.508-.123-.446-.6-.653-1-.8-2.055-.65-4.285-.414-6.32-1.15-.826-.292-1.625-.844-1.942-1.693-.443-1.2-.24-2.687.693-3.607.9-.915 2.22-1.268 3.47-1.394z"/>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Node Js</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32">
                        <path d="M11.622 24.74s-1.23.748.855.962c2.51.32 3.847.267 6.625-.267a10.02 10.02 0 0 0 1.763.855c-6.25 2.672-14.16-.16-9.244-1.55zm-.8-3.473s-1.336 1.015.748 1.23c2.725.267 4.862.32 8.55-.427a3.26 3.26 0 0 0 1.282.801c-7.534 2.244-15.976.214-10.58-1.603zm14.747 6.09s.908.748-1.015 1.336c-3.58 1.07-15.014 1.39-18.22 0-1.122-.48 1.015-1.175 1.7-1.282.695-.16 1.07-.16 1.07-.16-1.23-.855-8.175 1.763-3.526 2.51 12.77 2.084 23.296-.908 19.983-2.404zM12.2 17.633s-5.824 1.39-2.084 1.87c1.603.214 4.755.16 7.694-.053 2.404-.214 4.81-.64 4.81-.64s-.855.374-1.443.748c-5.93 1.55-17.312.855-14.052-.748 2.778-1.336 5.076-1.175 5.076-1.175zm10.42 5.824c5.984-3.1 3.206-6.09 1.282-5.717-.48.107-.695.214-.695.214s.16-.32.534-.427c3.794-1.336 6.786 4.007-1.23 6.09 0 0 .053-.053.107-.16zm-9.83 8.442c5.77.374 14.587-.214 14.8-2.94 0 0-.427 1.07-4.755 1.87-4.916.908-11.007.8-14.587.214 0 0 .748.64 4.542.855z" fill="rgb(68, 62, 62)"/>
                        <path d="M18.996.001s3.313 3.366-3.152 8.442c-5.183 4.114-1.175 6.465 0 9.137-3.046-2.725-5.236-5.13-3.74-7.373C14.294 6.893 20.332 5.3 18.996.001zm-1.7 15.335c1.55 1.763-.427 3.366-.427 3.366s3.954-2.03 2.137-4.542c-1.656-2.404-2.94-3.58 4.007-7.587 0 0-10.953 2.725-5.717 8.763z" fill="rgb(68, 62, 62)"/>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>JAVA</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32">
                        <defs>
                            <linearGradient id="A" x1="811.527" y1="574.895" x2="665.255" y2="573.732" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#366a96"/><stop offset="1" stop-color="#3679b0"/></linearGradient>
                            <linearGradient id="B" x1="862.824" y1="642.176" x2="573.276" y2="642.176" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffc836"/><stop offset="1" stop-color="#ffe873"/></linearGradient>
                        </defs>
                        <g transform="matrix(.1617 0 0 .158089 -107.53764 -81.66187)">
                            <path d="M716.255 544.487c0-13.623 3.653-21.034 23.822-24.563 13.693-2.4 31.25-2.7 47.627 0 12.935 2.135 23.822 11.77 23.822 24.563v44.945c0 13.182-10.57 23.98-23.822 23.98h-47.627c-16.164 0-29.787 13.782-29.787 29.363v21.564h-16.376c-13.852 0-21.917-9.988-25.305-23.964-4.57-18.776-4.376-29.963 0-47.945 3.794-15.687 15.917-23.964 29.77-23.964h65.52v-6h-47.645v-17.98z" fill="white"/><path d="M811.527 688.32c0 13.623-11.823 20.523-23.822 23.964-18.052 5.188-32.54 4.394-47.627 0-12.6-3.67-23.822-11.17-23.822-23.964v-44.945c0-12.935 10.782-23.98 23.822-23.98h47.627c15.864 0 29.787-13.71 29.787-29.963v-20.964h17.858c13.87 0 20.4 10.305 23.822 23.964 4.764 18.97 4.976 33.157 0 47.945-4.817 14.364-9.97 23.964-23.822 23.964H763.9v6h47.627v17.98z" fill="rgb(68, 62, 62)"/><path d="M728.166 541.505c0-4.976 3.988-9 8.93-9 4.923 0 8.93 4.023 8.93 9 0 4.96-4.006 8.982-8.93 8.982-4.94 0-8.93-4.023-8.93-8.982zm53.59 149.798c0-4.96 4.006-8.982 8.93-8.982 4.94 0 8.93 4.023 8.93 8.982 0 4.976-3.988 9-8.93 9-4.923 0-8.93-4.023-8.93-9z" fill="black"/>
                        </g>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Python</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-97.62 -147.24 64 64" width="64" height="64">
                    <path d="M-33.62-115.24c0 17.674-14.326 32-32 32s-32-14.326-32-32 14.328-32 32-32 32 14.328 32 32" fill="rgb(68, 62, 62)"/><path d="M-65.08-127.692l8.28 20.438-12.508-9.853zm14.7 25.147L-63.108-133.2c-.364-.884-1.1-1.352-1.973-1.352s-1.664.468-2.028 1.352L-81.1-99.576h4.783l5.534-13.863 16.515 13.343c.664.537 1.144.78 1.767.78 1.248 0 2.338-.936 2.338-2.286 0-.22-.078-.57-.218-.944z" fill="#fff"/>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Ansible</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64">
                    <path d="M40 41.753V18.708h1.25v3.625a4.74 4.74 0 0 0 .408-.511c1.044-2.166 3.246-3.533 5.65-3.506 2.85-.085 5.166.97 6.527 3.506a11.27 11.27 0 0 1 .272 10.331c-1.268 2.842-4.4 4.255-7.753 3.736a6.27 6.27 0 0 1-5.004-3.302v9.165zm1.25-14.893l.28 2.706c.494 3.08 2.315 4.9 5.174 5.242a5.88 5.88 0 0 0 6.459-3.736c1.112-2.65 1.03-5.65-.22-8.238a5.76 5.76 0 0 0-6.068-3.353 5.61 5.61 0 0 0-5.012 4.144 28.62 28.62 0 0 0-.613 3.234zm39.498 3.132a6.74 6.74 0 0 1-6.587 5.957c-5.242.264-7.702-3.217-8.093-7.234a11.59 11.59 0 0 1 1.021-6.383 7.12 7.12 0 0 1 7.412-3.974 6.81 6.81 0 0 1 6.042 5.183 34.97 34.97 0 0 1 .587 3.83H67.363c-.255 3.642 1.702 6.57 4.476 7.276 3.455.85 6.408-.647 7.48-3.932.238-.843.672-.962 1.438-.723zm-13.395-3.787h12.314c-.077-3.88-2.493-6.7-5.77-6.732-3.7-.06-6.383 2.647-6.544 6.732zm15.94 3.872H84.5a4.84 4.84 0 0 0 2.842 4.17 7.43 7.43 0 0 0 6.451-.17 2.9 2.9 0 0 0 1.702-2.851 2.63 2.63 0 0 0-1.77-2.63c-1.328-.494-2.74-.766-4.093-1.2a30 30 0 0 1-4.119-1.506c-2.18-1.064-2.315-5.208.153-6.52a8.69 8.69 0 0 1 8.306-.128c1.594.88 2.475 2.657 2.213 4.46H95.15c0-.05-.094-.094-.094-.145-.128-3.3-2.902-4.332-5.88-4.042-.9.1-1.753.372-2.553.774a2.55 2.55 0 0 0-1.48 2.553 2.55 2.55 0 0 0 1.702 2.4c1.3.477 2.68.783 4.025 1.157l3.25.85a3.84 3.84 0 0 1 2.638 3.464c.26 1.745-.63 3.46-2.204 4.255-2.842 1.608-7.523 1.183-9.608-.85-1.067-1.073-1.662-2.53-1.65-4.042zm28.78-6.374h-1.132c0-.153-.06-.3-.077-.417a3.7 3.7 0 0 0-3.013-3.557 7.43 7.43 0 0 0-4.774.23 2.9 2.9 0 0 0-2.102 2.766 2.67 2.67 0 0 0 2.042 2.689l5.174 1.328a14.39 14.39 0 0 1 1.65.502c1.65.6 2.77 2.132 2.82 3.883a4.25 4.25 0 0 1-2.6 4.04 9.47 9.47 0 0 1-7.659.077 5.31 5.31 0 0 1-3.2-5.157h1.106c.416 2.005 1.793 3.675 3.682 4.465s4.046.596 5.764-.516a3.04 3.04 0 0 0 1.634-2.842 2.63 2.63 0 0 0-1.796-2.613c-1.328-.494-2.74-.757-4.093-1.2a30.15 30.15 0 0 1-4.144-1.489c-2.128-1.047-2.298-5.157.128-6.468a8.57 8.57 0 0 1 8.442-.094 4.45 4.45 0 0 1 2.136 4.366zm-74.13 11.83a1.95 1.95 0 0 1-2.417-.919l-4.4-6.085-.638-.85-5.106 6.944a1.87 1.87 0 0 1-2.298.902l6.578-8.825-6.12-7.974c.908-.328 1.92.028 2.425.85l4.56 6.16 4.587-6.136a1.83 1.83 0 0 1 2.281-.851L35.02 21.9l-3.217 4.187a.85.85 0 0 0 0 1.268l6.127 8.178zm27.93-16.892v1.2a6.17 6.17 0 0 0-6.57 6.374q0 4.204 0 8.408v.953h-1.217v-16.86h1.2v3.455c1.472-2.52 3.744-3.455 6.595-3.523zM7.333 26.59l.536-2.647c1.472-5.234 7.472-7.412 11.6-4.17 2.417 1.898 3.02 4.587 2.902 7.617H8.754c-.22 5.412 3.685 8.68 8.68 7.012 1.646-.6 2.885-1.968 3.293-3.668.264-.85.7-.996 1.498-.75a6.91 6.91 0 0 1-3.302 5.047 8 8 0 0 1-9.319-1.191c-1.216-1.367-1.95-3.095-2.093-4.92 0-.3-.1-.58-.17-.85q-.01-.757-.01-1.48zm1.438-.366h12.314c-.077-3.923-2.553-6.706-5.855-6.732-3.676-.05-6.306 2.672-6.468 6.715z"/>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Express Js</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 25.6 25.6">
                        <path d="M179.076 94.886c-3.568-.1-6.336.268-8.656 1.25-.668.27-1.74.27-1.828 1.116.357.355.4.936.713 1.428.535.893 1.473 2.096 2.32 2.72l2.855 2.053c1.74 1.07 3.703 1.695 5.398 2.766.982.625 1.963 1.428 2.945 2.098.5.357.803.938 1.428 1.16v-.135c-.312-.4-.402-.98-.713-1.428l-1.34-1.293c-1.293-1.74-2.9-3.258-4.64-4.506-1.428-.982-4.55-2.32-5.13-3.97l-.088-.1c.98-.1 2.14-.447 3.078-.715 1.518-.4 2.9-.312 4.46-.713l2.143-.625v-.4c-.803-.803-1.383-1.874-2.23-2.632-2.275-1.963-4.775-3.882-7.363-5.488-1.383-.892-3.168-1.473-4.64-2.23-.537-.268-1.428-.402-1.74-.848-.805-.98-1.25-2.275-1.83-3.436l-3.658-7.763c-.803-1.74-1.295-3.48-2.275-5.086-4.596-7.585-9.594-12.18-17.268-16.687-1.65-.937-3.613-1.34-5.7-1.83l-3.346-.18c-.715-.312-1.428-1.16-2.053-1.562-2.543-1.606-9.102-5.086-10.977-.5-1.205 2.9 1.785 5.755 2.8 7.228.76 1.026 1.74 2.186 2.277 3.346.3.758.4 1.562.713 2.365.713 1.963 1.383 4.15 2.32 5.98.5.937 1.025 1.92 1.65 2.767.357.5.982.714 1.115 1.517-.625.893-.668 2.23-1.025 3.347-1.607 5.042-.982 11.288 1.293 15 .715 1.115 2.4 3.57 4.686 2.632 2.008-.803 1.56-3.346 2.14-5.577.135-.535.045-.892.312-1.25v.1l1.83 3.703c1.383 2.186 3.793 4.462 5.8 5.98 1.07.803 1.918 2.187 3.256 2.677v-.135h-.088c-.268-.4-.67-.58-1.027-.892-.803-.803-1.695-1.785-2.32-2.677-1.873-2.498-3.523-5.265-4.996-8.12-.715-1.383-1.34-2.9-1.918-4.283-.27-.536-.27-1.34-.715-1.606-.67.98-1.65 1.83-2.143 3.034-.848 1.918-.936 4.283-1.248 6.737-.18.045-.1 0-.18.1-1.426-.356-1.918-1.83-2.453-3.078-1.338-3.168-1.562-8.254-.402-11.913.312-.937 1.652-3.882 1.117-4.774-.27-.848-1.16-1.338-1.652-2.008-.58-.848-1.203-1.918-1.605-2.855-1.07-2.5-1.605-5.265-2.766-7.764-.537-1.16-1.473-2.365-2.232-3.435-.848-1.205-1.783-2.053-2.453-3.48-.223-.5-.535-1.294-.178-1.83.088-.357.268-.5.623-.58.58-.5 2.232.134 2.812.4 1.65.67 3.033 1.294 4.416 2.23.625.446 1.295 1.294 2.098 1.518h.938c1.428.312 3.033.1 4.37.5 2.365.76 4.506 1.874 6.426 3.08 5.844 3.703 10.664 8.968 13.92 15.26.535 1.026.758 1.963 1.25 3.034.938 2.187 2.098 4.417 3.033 6.56.938 2.097 1.83 4.24 3.168 5.98.67.937 3.346 1.427 4.55 1.918.893.4 2.275.76 3.08 1.25 1.516.937 3.033 2.008 4.46 3.034.713.534 2.945 1.65 3.078 2.54zm-45.5-38.772a7.09 7.09 0 0 0-1.828.223v.1h.088c.357.714.982 1.205 1.428 1.83l1.027 2.142.088-.1c.625-.446.938-1.16.938-2.23-.268-.312-.312-.625-.535-.937-.268-.446-.848-.67-1.206-1.026z" transform="matrix(.390229 0 0 .38781 -46.300037 -16.856717)" fill-rule="evenodd" fill="rgb(68, 62, 62)"/>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Mysql</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg height="64" viewBox="0 0 32 32" width="64" xmlns="http://www.w3.org/2000/svg">
                        <path d="m15.9.087.854 1.604c.192.296.4.558.645.802.715.715 1.394 1.464 2.004 2.266 1.447 1.9 2.423 4.01 3.12 6.292.418 1.394.645 2.824.662 4.27.07 4.323-1.412 8.035-4.4 11.12-.488.488-1.01.94-1.57 1.342-.296 0-.436-.227-.558-.436-.227-.383-.366-.82-.436-1.255-.105-.523-.174-1.046-.14-1.586v-.244c-.024-.052-.285-24.052-.181-24.175z" fill="rgb(68, 62, 62)"/>
                        <path d="m15.9.034c-.035-.07-.07-.017-.105.017.017.35-.105.662-.296.96-.21.296-.488.523-.767.767-1.55 1.342-2.77 2.963-3.747 4.776-1.3 2.44-1.97 5.055-2.16 7.808-.087.993.314 4.497.627 5.508.854 2.684 2.388 4.933 4.375 6.885.488.47 1.01.906 1.55 1.325.157 0 .174-.14.21-.244a4.78 4.78 0 0 0 .157-.68l.35-2.614z" fill="rgb(68, 62, 62)"/>
                        <path d="m16.754 28.845c.035-.4.227-.732.436-1.063-.21-.087-.366-.26-.488-.453-.105-.174-.192-.383-.26-.575-.244-.732-.296-1.5-.366-2.248v-.453c-.087.07-.105.662-.105.75a17.37 17.37 0 0 1 -.314 2.353c-.052.314-.087.627-.28.906 0 .035 0 .07.017.122.314.924.4 1.865.453 2.824v.35c0 .418-.017.33.33.47.14.052.296.07.436.174.105 0 .122-.087.122-.157l-.052-.575v-1.604c-.017-.28.035-.558.07-.82z" fill="rgb(68, 62, 62)"/>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Mango DB</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32">
                        <path d="M31.396 14.575L17.425.604a2.06 2.06 0 0 0-2.914 0l-2.9 2.9 3.68 3.68c.856-.3 1.836-.095 2.518.587a2.45 2.45 0 0 1 .581 2.533l3.547 3.547c.858-.296 1.848-.105 2.533.582a2.45 2.45 0 1 1-3.469 3.468c-.72-.72-.898-1.78-.534-2.667l-3.308-3.308v8.705a2.5 2.5 0 0 1 .65.464 2.45 2.45 0 1 1-3.468 3.468 2.45 2.45 0 0 1 0-3.468c.237-.236.5-.415.803-.535v-8.786c-.292-.12-.566-.297-.803-.535a2.45 2.45 0 0 1-.528-2.681l-3.63-3.628-9.58 9.57a2.06 2.06 0 0 0 0 2.915l13.972 13.97a2.06 2.06 0 0 0 2.914 0L31.396 17.5a2.06 2.06 0 0 0 0-2.915" fill="rgb(68, 62, 62)"/>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Git</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg height="64" width="64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <linearGradient id="a" gradientUnits="userSpaceOnUse"><stop offset=".18" stop-color="rgb(68, 62, 62)"/><stop offset="1" stop-color="rgb(68, 62, 62)"/></linearGradient>
                        <linearGradient id="b" x1="42.023" x2="44.133" xlink:href="#a" y1="35.232" y2="33.122"/>
                        <linearGradient id="c" x1="41.464" x2="39.35" xlink:href="#a" y1="29.159" y2="31.273"/><g transform="matrix(6.249587 0 0 6.249587 -228.82126 -169.26286)">
                        <path d="m46.568 31.918-4.834-4.834-4.834 4.834a.406.406 0 0 0 0 .573l4.834 4.834 4.834-4.834a.406.406 0 0 0 0-.573zm-4.834 1.8-1.514-1.514 1.514-1.514 1.514 1.514z" fill="rgb(68, 62, 62)"/>
                        <path d="m41.734 30.7a2.549 2.549 0 0 1 -.011-3.594l-3.323 3.302 1.803 1.803z" fill="url(#c)"/>
                        <path d="m43.252 32.2-1.518 1.518a2.549 2.549 0 0 1 0 3.606l3.32-3.32z" fill="url(#b)"/></g>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Jira</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64">
                        <path d="M59.336 31.518c0-3.854-2.65-7.097-6.207-8.023L61.097 0H21.61l7.986 23.57c-3.446 1-5.985 4.188-5.985 7.968 0 2.78 1.4 5.244 3.502 6.763-.834 1.186-1.797 2.28-2.89 3.317-2.057 1.927-4.336 3.41-6.8 4.39-2.224-1.5-3.187-4.15-2.316-6.522 3.39-1.038 5.855-4.206 5.855-7.93 0-4.577-3.724-8.283-8.283-8.283-4.577 0-8.3 3.724-8.3 8.3a8.24 8.24 0 0 0 2.409 5.818l-.39.797c-1.24 2.557-2.65 5.448-3.187 8.7-1.075 6.485.686 11.692 4.93 14.638 2.4 1.65 5.02 2.483 7.856 2.483 4.873 0 9.82-2.446 14.6-4.818 3.41-1.686 6.93-3.446 10.395-4.3 1.28-.315 2.613-.5 4.02-.704 2.854-.408 5.8-.834 8.45-2.372 3.094-1.797 5.207-4.8 5.818-8.246.463-2.65 0-5.318-1.186-7.653.797-1.28 1.24-2.78 1.24-4.39zm-3.613 0c0 2.576-2.094 4.67-4.67 4.67s-4.67-2.094-4.67-4.67c0-.834.222-1.63.61-2.316.148-.26.334-.52.52-.74a4.08 4.08 0 0 1 .649-.611l.02-.02c.148-.11.315-.222.482-.334 0 0 .02 0 .02-.02.074-.037.148-.093.222-.13.02 0 .037-.02.056-.02.074-.037.167-.074.26-.11s.185-.074.26-.11c.02 0 .037-.02.056-.02.074-.02.148-.056.222-.074.02 0 .056-.02.074-.02l.26-.056h.02l.278-.056c.02 0 .056 0 .074-.02.074 0 .148-.02.222-.02h.093c.093 0 .185-.02.296-.02h.24a.76.76 0 0 1 .204.019h.037c.148.02.296.037.445.074a4.71 4.71 0 0 1 3.724 4.595zM26.78 3.706h29.147l-6.69 19.734c-.278.056-.556.148-.834.24l-7.04-14.36-7.06 14.268c-.278-.093-.574-.148-.87-.204zm13.248 26.2c-.352-1.742-1.24-3.298-2.5-4.447l3.836-7.745 3.873 7.912a8.37 8.37 0 0 0-2.316 4.28zm-9.283-2.928l.26-.056h.056c.074-.02.148-.02.222-.037h.074c.074 0 .13-.02.204-.02h.723c.074 0 .13.02.185.02.037 0 .056 0 .093.02.074.02.13.02.204.037.02 0 .037 0 .074.02l.26.056c.093.02.167.037.24.074.02 0 .037.02.074.02.056.02.13.037.185.074.02 0 .037.02.056.02.074.037.148.056.222.093h.02a1 1 0 0 1 .241.13c.093.037.167.093.24.13.02 0 .02.02.037.02.074.037.13.093.204.13l.02.02c.222.167.426.352.63.537l.02.02c.185.204.37.426.52.667a4.66 4.66 0 0 1 .76 2.557c0 2.576-2.094 4.67-4.67 4.67s-4.67-2.094-4.67-4.67c-.02-2.168 1.482-4.002 3.52-4.52zm-18.233-.13c2.576 0 4.67 2.094 4.67 4.67s-2.094 4.67-4.67 4.67-4.67-2.094-4.67-4.67 2.094-4.67 4.67-4.67zm43.1 16.065c-.408 2.372-1.87 4.447-4.02 5.688-2.02 1.167-4.503 1.538-7.115 1.91-1.427.204-2.928.426-4.373.778-3.854.945-7.56 2.798-11.155 4.577-4.595 2.28-8.93 4.428-12.952 4.428-2.094 0-3.965-.593-5.744-1.834-4.076-2.816-3.873-8.097-3.39-10.988.445-2.705 1.686-5.244 2.872-7.67.074-.148.13-.278.204-.426.408.148.834.26 1.28.334-.704 3.928 1.297 7.986 5.188 9.987l.704.37.76-.278c3.243-1.15 6.244-3.02 8.894-5.522a24.89 24.89 0 0 0 3.854-4.577c.426.074.852.093 1.28.093 3.854 0 7.097-2.65 8.023-6.207h3.113c.926 3.576 4.17 6.207 8.023 6.207a8.2 8.2 0 0 0 4.188-1.149c.482 1.4.63 2.835.37 4.28z" fill="rgb(68, 62, 62)"/>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3>Jest</h3>
                    <p></p>
                </div>
            </div>
            <div class = "info-card">
                <div class = "logo">
                    <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0"
                        viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                        <style type="text/css">
                        .st0{fill: white}
                        </style>
                        <g id="XMLID_1_">
                        <path id="XMLID_2_" class="st0" d="M367.6,192.9c-3.8-1.3-7.7-2.5-11.7-3.7c0.7-2.7,1.3-5.4,1.8-8c8.9-43.2,3.1-78-16.8-89.4
                        c-19-11-50.2,0.5-81.6,27.8c-3,2.6-6.1,5.4-9.1,8.3c-2-1.9-4-3.8-6-5.6c-33-29.3-66-41.6-85.8-30.1c-19,11-24.7,43.7-16.7,84.6
                        c0.8,4,1.7,8,2.7,12.1c-4.7,1.3-9.2,2.7-13.5,4.2c-38.6,13.5-63.3,34.6-63.3,56.5c0,22.6,26.5,45.3,66.7,59.1
                        c3.2,1.1,6.5,2.1,9.9,3.1c-1.1,4.4-2.1,8.8-2.9,13c-7.6,40.2-1.7,72.1,17.3,83.1c19.6,11.3,52.5-0.3,84.5-28.3
                        c2.5-2.2,5.1-4.6,7.6-7c3.3,3.2,6.6,6.2,9.9,9c31,26.7,61.7,37.5,80.6,26.5c19.6-11.3,25.9-45.6,17.7-87.4
                        c-0.6-3.2-1.4-6.4-2.2-9.8c2.3-0.7,4.6-1.4,6.8-2.1c41.8-13.9,69.1-36.3,69.1-59.2C432.5,227.7,407,206.5,367.6,192.9z
                        M358.5,294.1c-2,0.7-4,1.3-6.1,1.9c-4.6-14.6-10.9-30.2-18.5-46.2c7.3-15.7,13.3-31,17.8-45.6c3.7,1.1,7.4,2.2,10.9,3.4
                        c33.8,11.6,54.4,28.8,54.4,42.1C416.9,263.8,394.7,282.1,358.5,294.1z M343.5,323.8c3.7,18.5,4.2,35.1,1.8,48.2
                        c-2.2,11.7-6.5,19.5-12,22.7c-11.5,6.7-36.1-2-62.6-24.8c-3-2.6-6.1-5.4-9.2-8.4c10.3-11.2,20.6-24.3,30.6-38.8
                        c17.6-1.6,34.3-4.1,49.4-7.6C342.3,318,343,320.9,343.5,323.8z M191.9,393.5c-11.2,4-20.2,4.1-25.6,1c-11.5-6.6-16.3-32.3-9.8-66.7
                        c0.7-3.9,1.6-8,2.7-12.1c15,3.3,31.5,5.7,49.2,7.1c10.1,14.2,20.7,27.3,31.3,38.7c-2.3,2.2-4.6,4.4-7,6.4
                        C218.6,380.3,204.4,389.1,191.9,393.5z M139.3,294c-17.8-6.1-32.5-14-42.6-22.6c-9.1-7.8-13.6-15.4-13.6-21.7
                        c0-13.3,19.8-30.2,52.9-41.8c4-1.4,8.2-2.7,12.6-4c4.6,14.9,10.6,30.4,17.8,46.1c-7.3,15.9-13.4,31.7-18,46.8
                        C145.2,295.9,142.2,295,139.3,294z M156.9,173.9c-6.9-35.1-2.3-61.5,9.2-68.1c12.2-7.1,39.2,3,67.7,28.3c1.8,1.6,3.6,3.3,5.5,5.1
                        c-10.6,11.4-21.1,24.4-31.1,38.5c-17.2,1.6-33.6,4.1-48.7,7.6C158.5,181.3,157.7,177.5,156.9,173.9z M314.4,212.7
                        c-3.6-6.2-7.3-12.3-11.1-18.3c11.6,1.5,22.8,3.4,33.3,5.8c-3.1,10.1-7.1,20.6-11.7,31.4C321.6,225.5,318.1,219.1,314.4,212.7z
                        M250.2,150.2c7.2,7.8,14.4,16.5,21.5,25.9c-7.1-0.3-14.4-0.5-21.7-0.5c-7.2,0-14.4,0.2-21.5,0.5
                        C235.6,166.8,242.9,158.1,250.2,150.2z M185.6,212.9c-3.6,6.3-7,12.6-10.3,18.9c-4.5-10.8-8.4-21.4-11.6-31.6
                        c10.4-2.3,21.5-4.2,33.1-5.7C192.9,200.4,189.2,206.6,185.6,212.9L185.6,212.9z M197.1,306c-12-1.3-23.2-3.1-33.6-5.4
                        c3.2-10.4,7.2-21.2,11.8-32.2c3.3,6.3,6.7,12.6,10.3,18.9h0C189.3,293.7,193.1,299.9,197.1,306z M250.6,350.3
                        c-7.4-8-14.8-16.8-22-26.3c7,0.3,14.1,0.4,21.4,0.4c7.4,0,14.8-0.2,22-0.5C264.9,333.6,257.7,342.4,250.6,350.3z M325,267.8
                        c4.9,11.1,9,21.9,12.3,32.1c-10.6,2.4-22,4.4-34,5.8c3.8-6,7.5-12.2,11.2-18.6C318.2,280.7,321.7,274.3,325,267.8z M300.9,279.4
                        c-5.7,9.9-11.6,19.3-17.5,28.3c-10.8,0.8-22,1.2-33.4,1.2c-11.4,0-22.4-0.4-33-1c-6.2-9-12.2-18.5-17.8-28.3h0
                        c-5.7-9.8-10.9-19.6-15.6-29.4c4.7-9.8,9.9-19.7,15.5-29.4l0,0c5.6-9.8,11.6-19.2,17.7-28.2c10.9-0.8,22-1.2,33.2-1.2h0
                        c11.3,0,22.4,0.4,33.3,1.3c6,8.9,11.9,18.3,17.6,28.1c5.7,9.9,11,19.7,15.7,29.3C311.9,259.6,306.6,269.5,300.9,279.4z
                        M333.1,105.3c12.2,7,17,35.5,9.3,72.8c-0.5,2.4-1,4.8-1.6,7.3c-15.1-3.5-31.6-6.1-48.8-7.7c-10-14.3-20.4-27.3-30.9-38.5
                        c2.8-2.7,5.6-5.3,8.4-7.7C296.4,107.9,321.6,98.7,333.1,105.3z M250,217.1c18,0,32.6,14.6,32.6,32.6c0,18-14.6,32.6-32.6,32.6
                        s-32.6-14.6-32.6-32.6C217.4,231.7,232,217.1,250,217.1z"/>
                    </g>
                    </svg>
                </div>
                <div class = "card-content">
                    <h3> React Js</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>